@media (min-width: 601px) {
    header>img {
        width: 93.75px;
        margin-right: 102.1875px;
    }
  }

body {
    margin: 0px;
    background-color: #E3E3E3;
}

p {
    margin: 0px;
}

a {
    margin: 0px;
    text-decoration:none;
}

ul {
    list-style: none;
}

li {
    margin: 0px;
}

label {
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__font {
    font-size: 50px;
}
.sub__font {
    font-size: 30px;
}

header {
    background-image: url(img/長方形\ 1.png);
    background-size: 1920px auto;
}

header>img {
    margin-right: 327px;
}

header>ul>li>button>a {
    color: black;
}

header>ul>li>button {
    width: 260px;
    height: 84px;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 50px;
    margin-left: 21px;
    margin-right: 21px;
}

.home__serch {
    padding-top: 50px;
}

.serch__form>form>div>input {
    font-size: 30px;
    width: 500px;
    height: 80px;
    border-radius: 50px;
}

.serch__form>form>div>button {
    border: 0px;
    background-color: #E3E3E3;
    font-size: 30px;
}

.serch__button>button {
    width: 300px;
    height: 80px;
    border-radius: 50px;
    margin-left: 20px;
}

.portfolio__count {
    padding-left: 115.666px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.button__1>.item, .button__2>.item {
    padding-left: 48px;
    padding-top: 45px;
}

.item__1>.button__1,.item__1>.button__2, .item__2>.button__1,.item__2>.button__2 {
    width: 798px;
    height: 689px;
    background-color: white;
    border-radius: 30px;
    border: 0.5px solid black;
}

.item__1>.button__2, .item__2>.button__2 {
    margin-left: 90px;
}

.item>.sub__font {
    color: #6b6b6b;
}

.item>button {
    width: 128px;
    height: 60px;
    background-color: #A6FC89;
    border-radius: 50px;
}

.item__list>.item__1, .item__list>.item__2 {
    padding-bottom: 101px;
}

.change__button>button {
    width: 84px;
    height: 84px;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 100px;
}

.about {
    padding-left: 271px;
    padding-right: 264px;
}

.about>.title {
    padding-top: 180px;
    padding-bottom: 180px;
}

.about>.text__1 {
    padding-bottom: 117px;
}


.about>button {
    margin-top: 108px;
    margin-bottom: 241px;
    margin-left: 828px;
    margin-right: 112px;
    width: 709px;
    height: 157px;
    background-color: white;
    border-radius: 100px;
}

.use {
    padding-left: 271px;
    padding-right: 264px;
}

.use>.title {
    padding-bottom: 119px;
}

.use>.text__1 {
    padding-bottom: 105px;
}

.use>.text__2 {
    padding-bottom: 192px;
}

.use>.text__4, .use>.text__5 {
    padding-bottom: 126px;
}

.post {
    padding-left: 454px;
}

.post>.main__font {
    padding-left: 311px;
}

.post__file>div {
    background-color: white;
    width: 1012.73px;
    height: 343.53px;
    border-radius: 30px;
}

.post__file>div>button {
    margin-left: 363px;
    margin-top: 140px;
    width: 286.27px;
    height: 62.91px;
    background-color: #A6FC89;
    border-radius: 10px;
}

.post__title>div>input {
    width: 1012.73px;
    height: 83.36px;
    border-radius: 30px;
}

.post__comment>div>textarea {
    width: 1012.73px;
    height: 209.36px;
    border-radius: 30px;
}

.post__tag>div {
    width: 1012.73px;
    height: 503.36px;
    background-color: white;
    border-radius: 30px;
    padding-left: 95px;
}

.post__tag>div>div {
    padding-top: 63px;
}

.post__tag>div>div>input {
    color: black;
}

.post__tag>div>div>button {
    width: 281px;
    height: 54px;
    background-color: #969696 ;
    color: white;
    border: 0.5px solid black;
    border-radius: 10px;
}

.post__tag>div>button {
    margin-top: 50px;
    margin-left: 30px;
    background-color: white;
    border: 0.5 solid black;
    border-radius: 50px;
    width: 118px;
    height: 54px;
}

.portfolio>button {
    width: 104px;
    height: 104px;
    background-color: white;
    border-radius: 60px;
    margin-left: 107px;
    margin-top: 40px;
}

.portfolio>div {
    width: 1706px;
    height: 858px;
    background-color: white;
    border-radius: 30px;
    margin: 107px;
}

.portfolio__menu>.menu {
    margin-left: 79px;
    width: 587px;
    height: 762px;
    background-color: white;
    border-radius: 30px;
    border: 0.5px solid black;
}

.menu>.main__font {
    padding-left: 60px;
    padding-right: 85px;
    padding-top: 55px;
}

.menu>.sub__font {
    padding-inline: 50px;
}

.menu>button {
    margin-left: 33px;
    margin-bottom: 20px;
    width: 128px;
    height: 59px;
    background-color: #ADFC93;
    border-radius: 30px;
}

.photo>button {
    margin-top: 20px;
    width: 104px;
    height: 104px;
    background-color: white;
    border-radius: 50px;
}

.user__page {
    padding-top: 54px;
}

.user__detail {
    width: 855px;
    height: 650px;
    background-color: white;
    border-radius: 30px;
}

.user__detail>.main__font {
    padding-top: 96px;
    padding-left: 95px;
}

.user__detail>.font__list {
    padding-top: 145px;
    padding-left: 95px;
}

.user__detail>button {
    margin-top: 59px;
    margin-left: 59px;
    width: 350px;
    height: 80px;
    background-color: white;
    border-radius: 50px;
}

.setting__portfolio {
    padding-left: 54px;
    padding-top: 48px;
}

.setting__portfolio>p {
    padding-left: 62px;
    padding-bottom: 24px;
}

.setting__img {
    width: 722px;
    height: 524px;
    background-color: white;
    border-radius: 30px;
}

.setting__img>img {
    padding-top: 58px;
    padding-left: 86px;
    padding-bottom: 30px;
    width: 550.11px;
    height: 312.7px;
}

.setting__img>p {
    padding-left: 86px;
}

.user__list>div>.portfolio__detail {
    display: flex;
    align-items: center;
    padding-left: 175px;
    padding-top: 130px;
    padding-bottom: 35px;
}

.user__list>div>.portfolio__detail>button {
    width: 226px;
    height: 100px;
    background-color: #A6FC89;
    border-radius: 50px;
}

.user__list>div>.portfolio__detail>p {
    padding-left: 35px;
}

.portfolio__list{
    width: 1631px;
    height: 489px;
    margin-inline: 144.5px;
    background-color: white;
    border-radius: 30px;
}

.item>ul>li>img {
    width: 465px;
    height: 263.89px;
}

.input__sginin>form>hr {
    border: 0px;
    margin: 0px;
    height: 70px;
    background-color: #E3E3E3;
}

.input__sginin>form>input {
    width: 575px;
    height: 61px;
    border-radius: 30px;
}

.input__sginin>form>a>button {
    align-items: center;
    margin-top: 65px;
    width: 264px;
    height: 61px;
    font-size:20px;
    color: #0945DB;
    background-color: white;
    border-radius: 30px;
    border-color: white;
}

.log__in {
    padding-top: 385px;
}

.log__in>.login__right {
    padding-left: 176px;
}

.log__in>.login__left>p, .log__in>.login__right>form>.box>label, .log__in>.login__right>form>.button__list>button {
    color: #0945DB;
}

.log__in>.login__right>form>.box>input {
    width: 575px;
    height: 61px;
    border-radius: 20px;
    font-size: 30px;
}

.log__in>.login__right>form>.button__list>.button__1 {
    width: 126px;
    height: 61px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 70px;
}    

.log__in>.login__right>form>.button__list>.button__2 {
    width: 234px;
    height: 61px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 19px;
}
